.header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
  width: 100vw;
  height: 10vh;
}

.links {
  color: white;
  list-style-type: none;
  justify-content: space-evenly;

  font-family: "Roboto", sans-serif;
}
.link-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
  background-color: #141414;
}
.links:hover {
  color: rgba(51, 171, 187, 0.801);
}
.link-box {
  display: flex;
  background-color: transparent;
}
.header-name-1 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 30px;
  letter-spacing: 5px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.header-name-2 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 30px;
  letter-spacing: 5px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.titles {
  display: flex;
}
.resume {
  color: rgb(255, 255, 255);
  font-size: 25px;
  padding: 30px;
  letter-spacing: 5px;
  font-family: "Noto Serif", serif;
  text-decoration: none;
}
.resume:hover {
  color: rgba(51, 171, 187, 0.801);
}
@media (max-width: 1060px) {
  .header-name-1 {
    padding: 10px;
    font-size: 18px;
  }
  .header-name-2 {
    padding: 10px;
    font-size: 20px;
  }
  .resume {
    padding: 10px;
    font-size: 20px;
  }
}
@media (max-width: 775px) {
  .header-name-1 {
    padding: 10px;
    font-size: 15px;
  }
  .header-name-2 {
    padding: 10px;
    font-size: 15px;
  }
  .resume {
    padding: 10px;
    font-size: 15px;
  }
  .titles {
    justify-content: space-evenly;
  }
}
@media (max-width: 550px) {
  .header-name-1 {
    font-size: 10px;
    /* display: none; */
  }
  .header-name-2 {
    font-size: 10px;
  }
}
@media (max-width: 460px) {
  .header-name-1 {
    display: none;
  }
  .link-items {
    width: 34vw;
  }
}
@media (max-width: 330px) {
  .link-items {
    width: 49vw;
  }
}
