 .portfolio-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
}
.middle {
  background-image: url(../media/landing3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.boxes-1 {
  display: flex;
  justify-content: space-around;
  height: 400px;
  padding: 30px;
  background-color: #141414;
  border-color: rgba(51, 171, 187, 0.801);
  border-style: solid;
  border-width: 3px;
}
 .boxes-2 {
  display: flex;
  justify-content: space-around;
  height: 400px;
  padding: 30px;
  background-color: #141414;
  border-color: rgba(51, 171, 187, 0.801);
  border-style: solid;
  border-width: 3px;
}

.elements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #141414;
  height: inherit;
}
.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 50vh;
  margin-right: 120px;
  background-color: rgba(39, 54, 65, 0.651);
}
.profile-image {
  width: 170px;
}
h1 {
  width: 20vw;
  font-size: 20px;
  color: #ffffff;
}
.projects {
  width: 20vw;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.685),
    0px 10px 20px rgba(0, 0, 0, 0.541);
}
.words {
  font-family: "Roboto", sans-serif;
}
.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  width: 60vw;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.596);
  border: solid;
  border-radius: 5px;
  padding: 10px;
}
.about-blurb {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  padding-bottom: 20px;
}
.portfolio-content {
  width: 100vw;
}
.code-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(158, 158, 158);
  text-transform: uppercase;
}
.code-link:hover {
  color: rgba(51, 171, 187, 0.801);
}

@media (max-width: 1366px) {
  .image-div {
    height: 40vh;
  }
}
@media (max-height: 1366px) {
  .image-div {
    height: 30vh;
  }
}
@media (max-height: 1024px) {
  .image-div {
    height: 40vh;
  }
}

@media (max-width: 1100px) {
  .projects,
  h1 {
    width: 30vw;
  }
}

@media (max-width: 1060px) {
  .portfolio-text {
    height: 35vh;
    width: 70vw;
  }
  .profile-image {
    width: 200px;
  }
  .about-blurb {
    letter-spacing: 2px;
  }
}
@media (max-width: 1025px) {
  .portfolio-text {
    height: 20vh;
  }
  .image-div {
    margin-right: 55px;
  }
}
@media (max-height: 1024px) {
  .header-main {
    height: 8vh;
  }
  .image-div {
    height: 28vh;
  }
}
@media (max-width: 850px) {
  .boxes-1 {
    flex-direction: column;
    align-items: center;
    height: 1150px;
    padding: 50px;
  }
  /* .boxes-2 {
    flex-direction: column;
    align-items: center;
    height: 120vh;
  } */

  .portfolio-text {
    height: 40vh;
    width: 80vw;
  }
  .projects,
  h1 {
    width: 50vw;
  }
}
@media (max-width: 770px) {
  .about-blurb {
    width: 100vw;
    height: 70vh;
    flex-direction: column-reverse;
  }
  .profile-image-div {
    width: 30vh;
    margin-left: 15px;
  }
  .profile-image {
    width: 150px;
  }
  .portfolio-text {
    height: 25vh;
    margin-bottom: 30px;
  }
   /* .boxes-1 {
    height: 150vh;
  }  */
  /* .boxes-2 {
    height: 160vh;
  } */

  .image-div {
    height: 33vh;
    width: 35vw;
  } 
}

@media (max-height: 540px) {
  
  /* .boxes-1 {
    height: 120vh;
  } */
  /* .boxes-2 {
    height: 220vh;
  } */
}
@media (max-width: 550px) {
  .portfolio-text {
    font-size: 0.7rem;
    margin-bottom: 30px;
  }
  .about-blurb {
    height: 60vh;
    flex-direction: column-reverse;
  }
  .profile-image {
    width: 100px;
  }
  .image-div {
    margin-right: 1px;
    margin-top: 20px;
    margin-bottom: none;
    height: 25vh;
  }
 /* .boxes-1 {
    height: 150vh;
  } */
  /* .boxes-2 {
    height: 180vh;
  } */
 
  .projects,
  h1 {
    width: 80vw;
  }
}
@media (max-width: 460px) {
  .image-div {
    height: 25vh;
    width: 90%;
  }
}
@media (max-height: 411px) {
  .portfolio-text {
    height: 55vh;
    font-size: 12px;
}
  /* .boxes-1 {
    height: 120vh;
} */
/* .boxes-2 {
  height: 320vh;
}
 */
.profile-image {
  width: 110px;
}
.profile-image-div {
  width: 75vh; 
   margin-left: 0px;
}
.image-div {
  height: 30vh;
}
.header-main {
  height: 20vh;
}
}
@media (max-width: 390px) {
  .image-div {
    height: 25vh;
    width: 90%;
  }
}
@media (max-height: 375px) {
  .header-main {
    height: 20vh;
  }
}
@media (max-width: 325px) {
  .about-blurb {
    height: 70vh;
  }
  .boxes-1 {
    height: 180vh;
  }
  /* .boxes-2{
    height: 180vh;
  }*/

  .portfolio-text {
    height: 28vh;
  }
}
@media (max-height: 360px) {
  .about-blurb {
    height: 80vh;
  }
  .boxes-1 {
    height: 390vh;
}
  /* .boxes-2{
    height: 305vh;
} */

.portfolio-text {
  height: 25vh;
  font-size: 10px;
}
.profile-image {
  width: 125px;
}
.profile-image-div {
  width: 65vh;
  margin-left: 0px;
}
.header-main {
  height: 20vh;
}
.image-div {
  height: 40vh;

}
}
@media (max-width: 330px) {
  .image-div {
    height: 27vh;
    width: 50vw;
  }
} 