.portfolio-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
}
.middle {
  background-image: url(../media/landing2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.boxes {
  display: flex;
  justify-content: space-around;
  height: 400px;
  padding: 30px;
  background-color: rgb(65, 65, 65);
  border-color: rgba(255, 238, 144, 0.452);
  border-style: solid;
  border-width: 3px;
}
.elements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(65, 65, 65);
  height: inherit;
}
.image-div {
  margin-right: 120px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.profile-image {
  width: 250px;
}
h1 {
  width: 20vw;
  font-size: 20px;
  color: #ffffff;
}
.projects {
  width: 20vw;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.685),
    0px 10px 20px rgba(0, 0, 0, 0.541);
}
.words {
  font-family: "Noto Serif", serif;
}
.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  width: 60vw;
  color: rgb(224, 224, 224);
  background-color: rgba(0, 0, 0, 0.514);
  border: solid;
  border-radius: 40px;
}
.about-blurb {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 20px;
  margin-right: 60px;
  font-family: serif;
  letter-spacing: 4px;
}
.portfolio-content {
  width: 100vw;
}
.code-link {
  text-decoration: none;
  font-size: 20px;
  color: rgb(158, 158, 158);
}
